@{
    ViewData["Title"] = "Family Board";
}

<div class="board">

    <div class="imageContainer">
        <div class="imageOverlay">
            <fb-clock></fb-clock>
            <div class="imageCreated">
                Loading...
            </div>
        </div>
    </div>

    <div class="main">
        <fb-calendar></fb-calendar>
        <div class="statusBar">
            <fb-message></fb-message>
            <fb-status></fb-status>
        </div>
    </div>

</div>

@section scripts {
<script type="text/javascript">
var callback = function() {
    startTime();
    startMainLoop();
}; 

if (
    document.readyState === "complete" ||
    (document.readyState !== "loading" && !document.documentElement.doScroll)
) {
  callback();
} else {
  document.addEventListener("DOMContentLoaded", callback);
}
</script>
}