@{
    ViewData["Title"] = "Family Board";
}

<div class="board">

    <div class="imageContainer">
        <div class="imageOverlay">
            <div class="clock">
                Loading...
            </div>
            <div class="imageCreated">
                Loading...
            </div>
        </div>
    </div>

    <div class="main">
        <fb-calendar></fb-calendar>
        <div class="statusBar">
            <fb-message></fb-message>
            <fb-status></fb-status>
        </div>
    </div>

</div>

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        startTime();
        startMainLoop();
    });
</script>
}