html,
body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}
